<template>

  <require from="./flex.css"></require>
    <ul md-tabs class="z-depth-1">
      <!--<li md-waves="color: primary;"><a class="active" href="#tab_1">Tab 1</a></li>
      <li md-waves="color: primary;"><a href="#tab_2">Tab 2</a></li>
      <li md-waves="color: primary;"><a href="#tab_3">Tab 3</a></li>
      <li md-waves="color: primary;"><a href="#tab_4">Tab 4</a></li>-->
    </ul>
    <h1>Contacts</h1>

    <!--<p t="[html]test">Test</p>-->

    <div class="flexbox-container-of-cols">
      <div class="flexbox-child-item-1">
        <div class=".flexbox-container-of-rows">
          <div class="flexbox-child-item-of-row">a</div>
          <div class="flexbox-child-item-of-row">a</div>
          <div class="flexbox-child-item-of-row">a</div>
        </div>
      </div>
      <div class="flexbox-child-item-2">a</div>
      <div class="flexbox-child-item-3">a</div>
    </div>

    
</template>